body{
    background-color: rgb(53, 54, 58);
    padding: 0%;
    margin: 0%;
}

.board{
    display: flex;
    flex-direction: column;
    align-items:  center;
    max-height: 50vh;
}


.row1 , .row2 , .row3{
    display: flex;
    flex : 1 1 1;
    flex-direction: row;
    justify-items: center;
    
}

.element{
    border: solid;
    min-height: 30vh;
    min-width: 30vw;
    font-size: 25vh;
    text-align: center;
    color: white;
    border-color: black;
    font-family: 'Roboto Mono', monospace;
}